<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.e4.ui.css.swt.theme">
      <theme
            basestylesheeturi="css/classic.css"
            id="eu.martinlange.theme.classic"
            label="Classic Theme">
      </theme>
      <stylesheet
            uri="css/empty.css">
         <themeid
               refid="eu.martinlange.theme.classic">
         </themeid>
         <osgiresourcelocator
               uri="platform:/plugin/eu.martinlange.tools.eclipse/">
         </osgiresourcelocator>
      </stylesheet>
   </extension>
 <extension
         point="org.eclipse.ui.themes">
      <colorDefinition
            categoryId="org.eclipse.ui.presentation.default"
            value="COLOR_WIDGET_BACKGROUND"
            id="eu.martinlange.theme.verticalRulerBkgnd"
            isEditable="true"
            label="Vertical ruler background">
         <description>
            The color used as background for the ruler presented next to a source viewer showing all annotations of the current view.
         </description>
      </colorDefinition>
      <colorDefinition
            categoryId="org.eclipse.ui.presentation.default"
            value="COLOR_WIDGET_BACKGROUND"
            id="eu.martinlange.theme.overviewRulerBkgnd"
            isEditable="true"
            label="Overview ruler background">
         <description>
            The color used as background for the ruler presented next to a source viewer showing all annotations.
         </description>
      </colorDefinition>
      <colorDefinition
            categoryId="org.eclipse.ui.presentation.default"
            id="eu.martinlange.theme.rangeIndicatorColor"
            isEditable="true"
            label="Range indicator background"
            value="COLOR_LIST_SELECTION">
         <description>
            The color used as foreground for the range indicator.
         </description>
      </colorDefinition>
      <colorDefinition
            categoryId="org.eclipse.ui.presentation.default"
            id="eu.martinlange.theme.rangeIndicatorBkgnd"
            isEditable="true"
            label="Range indicator background"
            value="COLOR_WIDGET_BACKGROUND">
         <description>
            The color used as background for the range indicator.
         </description>
      </colorDefinition>
   </extension>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="eu.martinlange.tools.eclipse.Plugin">
      </startup>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            default="true"
            extensions="launch"
            icon="icons/full/obj16/launch_file.gif"
            id="eu.martinlange.editor.launchConfiguration"
            launcher="eu.martinlange.tools.eclipse.launch.editor.LaunchConfigurationEditor"
            name="Launch Configuration Editor">
         <contentTypeBinding
               contentTypeId="eu.martinlange.launchConfiguration">
         </contentTypeBinding>
      </editor>
   </extension>
   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            base-type="org.eclipse.core.runtime.xml"
            file-extensions="launch"
            id="eu.martinlange.launchConfiguration"
            name="Launch Configuration"
            priority="high">
         <describer
               class="org.eclipse.core.runtime.content.XMLRootElementContentDescriber2">
            <parameter
                  name="element"
                  value="launchConfiguration">
            </parameter>
         </describer>
      </content-type>
   </extension>
   <extension
         point="org.eclipse.ui.decorators">
      <decorator
            adaptable="true"
            class="eu.martinlange.tools.eclipse.launch.decorators.LaunchConfigurationDecorator"
            icon="icons/full/obj16/launch_file.gif"
            id="eu.martinlange.decorator.launchConfiguration"
            label="Launch Configuration"
            lightweight="false"
            location="REPLACE"
            state="true">
         <enablement>
            <objectClass
                  name="org.eclipse.core.resources.IFile">
            </objectClass>
         </enablement>
      </decorator>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="eu.martinlange.tools.eclipse.launch.commands.LaunchCommandHandler"
            id="eu.martinlange.command.launch"
            name="Launch">
         <commandParameter
               id="eu.martinlange.command.launch.mode"
               name="Launch Mode"
               optional="false">
         </commandParameter>
      </command>
      <command
            defaultHandler="eu.martinlange.tools.eclipse.console.commands.OpenConsolePreferencesCommandHandler"
            id="eu.martinlange.command.openConsolePreferences"
            name="Highlight Lines...">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            class="eu.martinlange.tools.eclipse.launch.commands.LaunchExtensionContributionFactory"
            locationURI="popup:org.eclipse.jdt.ui.PackageExplorer?after=group.open">
      </menuContribution>
      <menuContribution
            allPopups="false"
            class="eu.martinlange.tools.eclipse.launch.commands.LaunchExtensionContributionFactory"
            locationURI="popup:org.eclipse.ui.navigator.ProjectExplorer#PopupMenu?after=group.open">
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.console.ConsoleView">
         <command
               commandId="eu.martinlange.command.openConsolePreferences"
               icon="icons/full/elcl16/highlight.gif"
               style="push"
               tooltip="Define expressions that will be highlighted in Console.">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="org.eclipse.core.resources.IFile"
            class="eu.martinlange.tools.eclipse.adapters.LaunchConfigurationAdapterFactory">
         <adapter
               type="org.eclipse.debug.core.ILaunchConfiguration">
         </adapter>
      </factory>
      <factory
            adaptableType="org.eclipse.core.runtime.IPath"
            class="eu.martinlange.tools.eclipse.adapters.LaunchConfigurationAdapterFactory">
         <adapter
               type="org.eclipse.debug.core.ILaunchConfiguration">
         </adapter>
      </factory>
      <factory
            adaptableType="org.eclipse.jface.viewers.ISelection"
            class="eu.martinlange.tools.eclipse.adapters.LaunchConfigurationAdapterFactory">
         <adapter
               type="org.eclipse.debug.core.ILaunchConfiguration">
         </adapter>
      </factory>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.eclipse.debug.ui.ConsolePreferencePage"
            class="eu.martinlange.tools.eclipse.console.preferences.PatternPreferencePage"
            id="eu.martinlange.preferencePages.Pattern"
            name="Pattern">
      </page>
      <page
            category="org.eclipse.debug.ui.ConsolePreferencePage"
            class="eu.martinlange.tools.eclipse.console.preferences.StylePreferencePage"
            id="eu.martinlange.preferencePages.Styles"
            name="Styles">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.console.consolePageParticipants">
      <consolePageParticipant
            class="eu.martinlange.tools.eclipse.console.ConsolePageParticipant"
            id="eu.martinlange.consolePageParticipant">
         <enablement>
            <instanceof
                  value="org.eclipse.ui.console.IConsole">
            </instanceof></enablement>
      </consolePageParticipant>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="eu.martinlange.tools.eclipse.preferences.PreferencesInitializer">
      </initializer>
   </extension>
</plugin>
