

.MTrimmedWindow.topLevel 
{
	margin-top: 1px;
	margin-bottom: 3px;
	margin-left: 3px;
	margin-right: 3px;
	background-color: #EEEEF2;
}


#PerspectiveSwitcher 
{
	eclipse-perspective-keyline-color: #EEEEF2;
}


.MPart.busy 
{
	font-style: italic;
}


.MPart.highlighted 
{
	font-weight: bold;
}


.MPartStack, .MPart 
{
	font-family: '#org-eclipse-ui-workbench-TAB_TEXT_FONT';
}


CTabItem:selected 
{
	color: '#org-eclipse-ui-workbench-ACTIVE_TAB_TEXT_COLOR';
}


.MPartStack 
{
	swt-tab-renderer: null;
	swt-selected-tabs-background: '#org-eclipse-ui-workbench-INACTIVE_TAB_BG_START' '#org-eclipse-ui-workbench-INACTIVE_TAB_BG_END' 100%;
	swt-simple: false;
	swt-mru-visible: true;
	color: '#org-eclipse-ui-workbench-INACTIVE_TAB_TEXT_COLOR';
}


.MPartStack.active 
{
	swt-selected-tabs-background: '#org-eclipse-ui-workbench-ACTIVE_TAB_BG_START' '#org-eclipse-ui-workbench-ACTIVE_TAB_BG_END' 100%;  
}


.MPartStack.active.noFocus 
{
	swt-selected-tabs-background: '#org-eclipse-ui-workbench-ACTIVE_NOFOCUS_TAB_BG_START' '#org-eclipse-ui-workbench-ACTIVE_NOFOCUS_TAB_BG_END' 100%;
	color: '#org-eclipse-ui-workbench-ACTIVE_NOFOCUS_TAB_TEXT_COLOR';
}


.MPartStack.active.noFocus > CTabItem:selected 
{
	color: '#org-eclipse-ui-workbench-ACTIVE_NOFOCUS_TAB_TEXT_COLOR';
}


.MToolControl.TrimStack 
{
	handle-image: url(./images/trimHandle.png);
	frame-image: url(./images/trimFrame.png);
	frame-cuts: 2px 1px 2px 1px;
}


.MToolBar.Draggable 
{
	handle-image:  url(./images/dragHandle.png);
}


.MToolControl.Draggable 
{
	handle-image:  url(./images/dragHandle.png);
}


#PerspectiveSwitcher 
{
	handle-image:  url(./images/dragHandlePs.png);
}


.DragFeedback 
{
	background-color: #00FF00;
}


.ModifiedDragFeedback 
{
	background-color: #00FF00; 
}

