<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            base-type="org.eclipse.core.runtime.xml"
            file-extensions="launch"
            id="eu.martinlange.launchConfiguration"
            name="Launch Configuration"
            priority="high">
         <describer
               class="org.eclipse.core.runtime.content.XMLRootElementContentDescriber2">
            <parameter
                  name="element"
                  value="launchConfiguration">
            </parameter>
         </describer>
      </content-type>
   </extension>
   <extension
         point="org.eclipse.ui.decorators">
      <decorator
            adaptable="true"
            class="eu.martinlange.launchpad.decorators.ConfigurationDecorator"
            icon="icons/full/obj16/configuration.gif"
            id="eu.martinlange.decorator.launchConfiguration"
            label="Launch Configuration"
            lightweight="false"
            location="REPLACE"
            state="true">
         <enablement>
            <objectClass
                  name="org.eclipse.core.resources.IFile">
            </objectClass>
         </enablement>
      </decorator>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            default="true"
            extensions="launch"
            icon="icons/full/obj16/configuration.gif"
            id="eu.martinlange.editor.launchConfiguration"
            launcher="eu.martinlange.launchpad.internal.ConfigurationEditor"
            name="Launch Configuration Editor">
         <contentTypeBinding
               contentTypeId="eu.martinlange.launchConfiguration">
         </contentTypeBinding>
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            class="eu.martinlange.launchpad.ui.views.LaunchpadPart"
            fastViewWidthRatio="0.35"
            icon="icons/full/eview16/launchpad.gif"
            id="eu.martinlange.launchpad.ui.LaunchPad"
            name="Launch Pad"
            restorable="true">
      </view>
   </extension> 
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="eu.martinlange.launchpad.command.run"
            name="run">
      </command>
      <command
            id="eu.martinlange.launchpad.command.debug"
            name="debug">
      </command>
      <command
            id="eu.martinlange.launchpad.command.profile"
            name="profile">
      </command>
      <command
            defaultHandler="eu.martinlange.launchpad.commands.NewHandler"
            id="eu.martinlange.launchpad.command.new"
            name="new">
      </command>
      <command
            defaultHandler="eu.martinlange.launchpad.commands.MoveHandler"
            id="eu.martinlange.launchpad.command.move"
            name="move">
      </command>
      <command
            defaultHandler="eu.martinlange.launchpad.commands.RenameHandler"
            id="eu.martinlange.launchpad.command.rename"
            name="rename">
      </command>
      <command
            defaultHandler="eu.martinlange.launchpad.commands.EditHandler"
            id="eu.martinlange.launchpad.command.edit"
            name="edit">
      </command>
      <command
            defaultHandler="eu.martinlange.launchpad.commands.ToggleStateHandler"
            id="eu.martinlange.launchpad.command.rootMode"
            name="root mode">
         <state
               class="org.eclipse.ui.handlers.RegistryToggleState:false"
               id="org.eclipse.ui.commands.toggleState">
         </state>
      </command>
      <command
            defaultHandler="eu.martinlange.launchpad.commands.RadioStateHandler"
            id="eu.martinlange.launchpad.command.launchMode"
            name="default launch mode">
         <commandParameter
               id="org.eclipse.ui.commands.radioStateParameter"
               name="launch_mode"
               optional="false">
         </commandParameter>
         <state
               class="org.eclipse.ui.handlers.RadioState:run"
               id="org.eclipse.ui.commands.radioState">
         </state>
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.jdt.ui.PackageExplorer?after=group.open">
         <command
               commandId="eu.martinlange.launchpad.command.run"
               disabledIcon="icons/full/dtool16/run.gif"
               icon="icons/full/etool16/run.gif"
               label="Run"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <test
                        forcePluginActivation="true"
                        property="eu.martinlange.launchpad.supportsMode"
                        value="run">
                  </test>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="eu.martinlange.launchpad.command.debug"
               disabledIcon="icons/full/dtool16/debug.gif"
               icon="icons/full/etool16/debug.gif"
               label="Debug"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <test
                        forcePluginActivation="true"
                        property="eu.martinlange.launchpad.supportsMode"
                        value="debug">
                  </test>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="eu.martinlange.launchpad.command.profile"
               disabledIcon="icons/full/etool16/profile.gif"
               icon="icons/full/etool16/profile.gif"
               label="Profile"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <test
                        forcePluginActivation="true"
                        property="eu.martinlange.launchpad.supportsMode"
                        value="profile">
                  </test>
               </with>
            </visibleWhen>
         </command>
         <separator
               name="separator1"
               visible="true">
         </separator>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.navigator.ProjectExplorer#PopupMenu?after=group.open">
         <command
               commandId="eu.martinlange.launchpad.command.run"
               disabledIcon="icons/full/dtool16/run.gif"
               icon="icons/full/etool16/run.gif"
               label="Run"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <test
                        forcePluginActivation="true"
                        property="eu.martinlange.launchpad.supportsMode"
                        value="run">
                  </test>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="eu.martinlange.launchpad.command.debug"
               disabledIcon="icons/full/dtool16/debug.gif"
               icon="icons/full/etool16/debug.gif"
               label="Debug"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <test
                        forcePluginActivation="true"
                        property="eu.martinlange.launchpad.supportsMode"
                        value="debug">
                  </test>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="eu.martinlange.launchpad.command.profile"
               disabledIcon="icons/full/etool16/profile.gif"
               icon="icons/full/etool16/profile.gif"
               label="Profile"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <test
                        forcePluginActivation="true"
                        property="eu.martinlange.launchpad.supportsMode"
                        value="profile">
                  </test>
               </with>
            </visibleWhen>
         </command>
         <separator
               name="separator1"
               visible="true">
         </separator>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:eu.martinlange.launchpad.ui.LaunchPad">
         <separator
               name="separator1"
               visible="true">
         </separator>
         <command
               commandId="eu.martinlange.launchpad.command.rootMode"
               icon="icons/full/obj16/folders.gif"
               label="Categorized"
               style="toggle"
               tooltip="Categorized">
         </command>
         <separator
               name="separator2"
               visible="true">
         </separator>
         <command
               commandId="eu.martinlange.launchpad.command.launchMode"
               disabledIcon="icons/full/dtool16/run.gif"
               icon="icons/full/etool16/run.gif"
               label="Run"
               style="radio"
               tooltip="Run">
            <parameter
                  name="org.eclipse.ui.commands.radioStateParameter"
                  value="run">
            </parameter>
         </command>
         <command
               commandId="eu.martinlange.launchpad.command.launchMode"
               disabledIcon="icons/full/dtool16/debug.gif"
               icon="icons/full/etool16/debug.gif"
               label="Debug"
               style="radio"
               tooltip="Debug">
            <parameter
                  name="org.eclipse.ui.commands.radioStateParameter"
                  value="debug">
            </parameter>
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:eu.martinlange.launchpad.ui.LaunchPad">
         <command
               commandId="eu.martinlange.launchpad.command.new"
               disabledIcon="icons/full/dlcl16/newfolder.gif"
               icon="icons/full/elcl16/newfolder.gif"
               label="New Category..."
               style="push">
         </command>
         <separator
               name="separator1"
               visible="true">
         </separator>
         <command
               commandId="eu.martinlange.launchpad.command.run"
               disabledIcon="icons/full/dtool16/run.gif"
               icon="icons/full/etool16/run.gif"
               label="Run"
               style="push">
         </command>
         <command
               commandId="eu.martinlange.launchpad.command.debug"
               disabledIcon="icons/full/dtool16/debug.gif"
               icon="icons/full/etool16/debug.gif"
               label="Debug"
               style="push">
         </command>
         <command
               commandId="eu.martinlange.launchpad.command.profile"
               disabledIcon="icons/full/etool16/profile.gif"
               icon="icons/full/etool16/profile.gif"
               label="Profile"
               style="push">
         </command>
         <separator
               name="separator2"
               visible="true">
         </separator>
         <command
               commandId="eu.martinlange.launchpad.command.move"
               label="Reassign to..."
               style="push">
         </command>
         <command
               commandId="eu.martinlange.launchpad.command.rename"
               label="Rename..."
               style="push">
         </command>
         <command
               commandId="eu.martinlange.launchpad.command.edit"
               label="Edit..."
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewer
            viewerId="eu.martinlange.launchpad.ui.LaunchPad">
         <options>
            <property
                  name="org.eclipse.ui.navigator.hideLinkWithEditorAction"
                  value="true">
            </property>
            <property
                  name="org.eclipse.ui.navigator.hideAvailableCustomizationsDialog"
                  value="false">
            </property>
            <property
                  name="org.eclipse.ui.navigator.hideAvailableExtensionsTab"
                  value="true">
            </property>
         </options>
      </viewer>
      <viewerContentBinding
            viewerId="eu.martinlange.launchpad.ui.LaunchPad">
         <includes>
            <contentExtension
                  isRoot="true"
                  pattern="eu.martinlange.launchpad.launchpadContent">
            </contentExtension></includes>
      </viewerContentBinding>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <navigatorContent
            activeByDefault="true"
            contentProvider="eu.martinlange.launchpad.ui.views.LaunchpadContentProvider"
            icon="icons/full/obj16/configuration.gif"
            id="eu.martinlange.launchpad.launchpadContent"
            labelProvider="eu.martinlange.launchpad.ui.views.LaunchpadLabelProvider"
            name="Launch Configuration">
         <triggerPoints>
            <or>
               <instanceof
                     value="org.eclipse.debug.core.ILaunchManager">
               </instanceof></or>
         </triggerPoints>
         <possibleChildren>
            <or>
               <instanceof
                     value="org.eclipse.debug.core.ILaunchManager">
               </instanceof>
               <instanceof
                     value="org.eclipse.debug.core.ILaunchConfigurationType">
               </instanceof></or></possibleChildren>
      </navigatorContent>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            commandId="eu.martinlange.launchpad.command.run">
         <class
               class="eu.martinlange.launchpad.commands.LaunchHandler">
            <parameter
                  name="mode"
                  value="run">
            </parameter>
         </class>
         <enabledWhen>
            <with
                  variable="selection">
               <test
                     forcePluginActivation="true"
                     property="eu.martinlange.launchpad.supportsMode"
                     value="run">
               </test>
            </with>
         </enabledWhen>
      </handler>
      <handler
            commandId="eu.martinlange.launchpad.command.debug">
         <class
               class="eu.martinlange.launchpad.commands.LaunchHandler">
            <parameter
                  name="mode"
                  value="debug">
            </parameter>
         </class>
         <enabledWhen>
            <with
                  variable="selection">
               <test
                     forcePluginActivation="true"
                     property="eu.martinlange.launchpad.supportsMode"
                     value="debug">
               </test>
            </with>
         </enabledWhen>
      </handler>
      <handler
            commandId="eu.martinlange.launchpad.command.profile">
         <class
               class="eu.martinlange.launchpad.commands.LaunchHandler">
            <parameter
                  name="mode"
                  value="profile">
            </parameter>
         </class>
         <enabledWhen>
            <with
                  variable="selection">
               <test
                     forcePluginActivation="true"
                     property="eu.martinlange.launchpad.supportsMode"
                     value="profile">
               </test>
            </with>
         </enabledWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="eu.martinlange.launchpad.internal.ConfigurationPropertyTester"
            id="eu.martinlange.launchpad.supportsMode"
            namespace="eu.martinlange.launchpad"
            properties="supportsMode"
            type="java.lang.Object">
      </propertyTester>
   </extension>

</plugin>
