<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            base-type="org.eclipse.core.runtime.xml"
            file-extensions="launch"
            id="eu.martinlange.launchConfiguration"
            name="Launch Configuration"
            priority="high">
         <describer
               class="org.eclipse.core.runtime.content.XMLRootElementContentDescriber2">
            <parameter
                  name="element"
                  value="launchConfiguration">
            </parameter>
         </describer>
      </content-type>
   </extension>
   <extension
         point="org.eclipse.ui.decorators">
      <decorator
            adaptable="true"
            class="eu.martinlange.launchpad.decorators.ConfigurationDecorator"
            icon="icons/full/obj16/configuration.gif"
            id="eu.martinlange.decorator.launchConfiguration"
            label="Launch Configuration"
            lightweight="false"
            location="REPLACE"
            state="true">
         <enablement>
            <objectClass
                  name="org.eclipse.core.resources.IFile">
            </objectClass>
         </enablement>
      </decorator>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="eu.martinlange.launchpad.commands.LaunchCommandHandler"
            id="eu.martinlange.launchpad.command.launch"
            name="Launch">
         <commandParameter
               id="eu.martinlange.launchpad.launchModeParameter"
               name="mode"
               optional="false">
         </commandParameter>
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            class="eu.martinlange.launchpad.commands.LaunchExtensionContributionFactory"
            locationURI="popup:org.eclipse.jdt.ui.PackageExplorer?after=group.open">
      </menuContribution>
      <menuContribution
            allPopups="false"
            class="eu.martinlange.launchpad.commands.LaunchExtensionContributionFactory"
            locationURI="popup:org.eclipse.ui.navigator.ProjectExplorer#PopupMenu?after=group.open">
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            default="true"
            extensions="launch"
            icon="icons/full/obj16/configuration.gif"
            id="eu.martinlange.editor.launchConfiguration"
            launcher="eu.martinlange.launchpad.internal.ConfigurationEditor"
            name="Launch Configuration Editor">
         <contentTypeBinding
               contentTypeId="eu.martinlange.launchConfiguration">
         </contentTypeBinding>
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            class="eu.martinlange.launchpad.ui.views.LaunchpadPart"
            fastViewWidthRatio="0.35"
            icon="icons/full/eview16/launchpad.gif"
            id="eu.martinlange.launchpad.ui.LaunchPad"
            name="Launch Pad"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="eu.martinlange.launchpad.commands.RadioStateHandler"
            id="eu.martinlange.launchpad.command.launchMode"
            name="default launch mode">
         <commandParameter
               id="org.eclipse.ui.commands.radioStateParameter"
               name="launch_mode"
               optional="false">
         </commandParameter>
         <state
               class="org.eclipse.ui.handlers.RadioState:run"
               id="org.eclipse.ui.commands.radioState">
         </state>
      </command>
      <command
            defaultHandler="eu.martinlange.launchpad.commands.ToggleStateHandler"
            id="eu.martinlange.launchpad.command.rootMode"
            name="root mode">
         <state
               class="org.eclipse.ui.handlers.RegistryToggleState:false"
               id="org.eclipse.ui.commands.toggleState">
         </state>
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:eu.martinlange.launchpad.ui.LaunchPad">
         <separator
               name="eu.martinlange.launchpad.separator1"
               visible="true">
         </separator>
         <command
               commandId="eu.martinlange.launchpad.command.rootMode"
               icon="icons/full/obj16/folders.gif"
               label="Categorized"
               style="toggle"
               tooltip="Categorized">
         </command>
         <separator
               name="eu.martinlange.launchpad.separator2"
               visible="true">
         </separator>
         <command
               commandId="eu.martinlange.launchpad.command.launchMode"
               disabledIcon="icons/full/dtool16/run.gif"
               icon="icons/full/etool16/run.gif"
               label="Run"
               style="radio"
               tooltip="Run">
            <parameter
                  name="org.eclipse.ui.commands.radioStateParameter"
                  value="run">
            </parameter>
         </command>
         <command
               commandId="eu.martinlange.launchpad.command.launchMode"
               disabledIcon="icons/full/dtool16/debug.gif"
               icon="icons/full/etool16/debug.gif"
               label="Debug"
               style="radio"
               tooltip="Debug">
            <parameter
                  name="org.eclipse.ui.commands.radioStateParameter"
                  value="debug">
            </parameter>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewer
            viewerId="eu.martinlange.launchpad.ui.LaunchPad">
         <options>
            <property
                  name="org.eclipse.ui.navigator.hideLinkWithEditorAction"
                  value="true">
            </property>
         </options>
      </viewer>
      <viewerContentBinding
            viewerId="eu.martinlange.launchpad.ui.LaunchPad">
         <includes>
            <contentExtension
                  isRoot="true"
                  pattern="eu.martinlange.launchpad.launchpadContent">
            </contentExtension></includes>
      </viewerContentBinding>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <navigatorContent
            activeByDefault="true"
            contentProvider="eu.martinlange.launchpad.ui.views.LaunchpadContentProvider"
            icon="icons/full/obj16/configuration.gif"
            id="eu.martinlange.launchpad.launchpadContent"
            labelProvider="eu.martinlange.launchpad.ui.views.LaunchpadLabelProvider"
            name="Launch Configuration">
         <triggerPoints>
            <or>
               <instanceof
                     value="org.eclipse.debug.core.ILaunchManager">
               </instanceof></or>
         </triggerPoints>
         <possibleChildren>
            <or>
               <instanceof
                     value="org.eclipse.debug.core.ILaunchManager">
               </instanceof>
               <instanceof
                     value="org.eclipse.debug.core.ILaunchConfigurationType">
               </instanceof></or></possibleChildren>
      </navigatorContent>
   </extension>

</plugin>
